	<header>
		<nav>

            {% if currentUri != '/' %}
			<li><a href="{{ path_for('home')}}">Home</a></li>
            {% endif %}

	{% if not authentication.check %}
			<li><a href="{{ path_for('authentication.login')}}">Login</a></li>
    {% else %}
            <li><a href="{{ path_for('admin.home') }}">Admin</a></li>
	{% endif %}

		</nav>
	</header>
